# Animal Track Classification With CNN
### ITCS 4156, Spring 2020
#### Sara Ashcraft, James Black, Debabrata Das, Bonaventure Raj

### Objective
We will train a CNN to classify animal tracks based on the taxonomic rank of order. If successful, our results would be useful for wildlife conservation. We will be referencing work done by individuals from the Dogs vs. Cats Kaggle challenge linked below:

https://www.kaggle.com/c/dogs-vs-cats

This will allow us to jumpstart our project by building off of others' work on a similar problem. Let's start by preparing our data.

In [12]:
import numpy as np
import pandas as pd
from copy import deepcopy as copy
import tensorflow as tf
from tensorflow import keras
import os

# Load data
path = os.listdir("./images")
labels = []
images = []

for folder in path:
    order_path = os.listdir("./images/" + folder)
    for subfolder in order_path:
        image_path = os.listdir("./images/" + folder + "/" + subfolder)
        for image in image_path:
            labels.append(folder)
            images.append(image)
            
df = pd.DataFrame({'image':images, 'order':labels})
df

# Preprocess

# Visualize

           image         order
0    0.thumbnail  Artiodactyla
1    1.thumbnail  Artiodactyla
2    2.thumbnail  Artiodactyla
3    3.thumbnail  Artiodactyla
4    4.thumbnail  Artiodactyla
..           ...           ...
636  2.thumbnail      Rodentia
637  3.thumbnail      Rodentia
638  4.thumbnail      Rodentia
639  5.thumbnail      Rodentia
640  6.thumbnail      Rodentia

[641 rows x 2 columns]

### References
https://www.kaggle.com/uysimty/keras-cnn-dog-or-cat-classification